{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="header">
        <img src='{% static "main_app/img/Logo_cropped.png"%}' alt="Window" id="logo">
        <div id="header_menu"><a href="" class="header_title"><i class="bi bi-house"></i>Головна</a>
        <a href="" class="header_title"><i class="bi bi-person"></i>Про нас</a>
        <a href="" class="header_title"><i class="bi bi-archive"></i></i>Архів робіт</a>
        </div>  
        
    </div>
    <!-- <img src='{% static "main_app/img/istockphoto-1163674813-1024x1024.jpg"%}' alt="Window" id="title_img" ><br> -->
    
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>